{% extends "_base.html" %}

{% block title %}MayorTech Limited - About Us{% endblock %}

{% block content %}
    <h1>About</h1>

    <h2>The Mayor Tech Story</h2>
    <p>Mayor Tech work with a range of businesses to provide the software support that they need. </p>
    <p>Some of our clients are small companies, like <a href="https://insidetheedit.com">Inside the Edit</a>, where we are responsible for building and maintaining payment processing, video streaming, behind the scenes admin processes/reports, and subscription-based access controls. </p>
    <p>Others are large multi-national companies, like <a href="https://softiron.com">SoftIron</a>, where we help build complex APIs that support internal manufacturing and marketing processes. </p>
    <p>To get a real feel for the type of work we do, read about our past clients and projects on our <a href="/projects/">projects list</a>.</p>

    <h2>Our Ethos</h2>
    <p>We build high quality software, we don't cut corners, and we don't rush. We work closely with our clients, often over many years, making sure that what we make is exactly what they needed.</p>
    <p>Technologies are tools to be used in the right context. We are not wedded to any particular way of doings things, or any particular frameworks/libraries. We choose the right tool for the job.</p>
    <p>We want to leave the world in a better state than we found it. We want to work with people/companies that are doing good things. We will not work with people/companies doing bad things.</p>
    <h2>Our Founder - William Mayor</h2>
    <p>William Mayor started as a freelance software engineer in 2012. He specialises in "back end" software; building APIs, setting up servers, dealing with databases, security, backups, and all the things that keep a project running smoothly. He’s primarily a Python developer but he’s been known to dabble with JavaScript as well.</p>
    <p>William is also a Director of <a href="https://diversityandability.com">Diversity and Ability</a>, a social enterprise that champions neurodiversity and disability inclusion. He runs the IT department there and is resonsible for keeping the emails, internal tools, and other critical business infrastructure running. He is also the Data Protection Lead; making sure that the company meets all GDPR requirements. He runs a team within the company that provide website accessibility audits, making sure that clients' websites meet the W3C's Web Content Accessility Guidelines (WCAG).</p>
{% endblock content %}
