{% extends "_base.html" %}

{% block title %}MayorTech Limited - Projects{% endblock %}

{% block content %}
    <div class="max-w-lg mx-auto">
        <h1>Projects</h1>
        <p>Here's a list of projects and clients that Mayor Tech Limited have worked with.</p>
    </div>
    <div class="flex flex-row gap-4 flex-wrap">
        <section>
            <h2>Clients</h2>
            <p>Here are a selection of our main clients over the years, and brief descriptions of the work we did with them.</p>
            <h3>BAFTA</h3>
            <p><a href="https://baftaelectron.com">https://baftaelectron.com</a></p>
            <p>We worked on a product called “Source2Screen” (now called “BAFTA Electron“). It had started as an in-house tool for managing large volumes of media, used for the BAFTA awards nominations. We helped to build an application that turned the in-house tool into a software-as-a-service (SAAS) product.</p>
            <h3>Inside the Edit</h3>
            <p><a href="https://insidetheedit.com">https://insidetheedit.com</a></p>
            <p>We extended their existing website; adding subscription payment processing, live-streaming events, HD video storage/streaming, and many other features. We also migrated their hosting provider in order to save hosting costs and reduce downtime.</p>
            <h3>Asahi</h3>
            <p><a href="https://asahisuperdry.com">https://asahisuperdry.com</a></p>
            <p>We helped build the Asahi Super Dry website. This is a marketing/blog site ran by many teams across the world. We built a flexible translation system (internationalisation, i18n) for them, as well as processes for easily adding and managing new brands/themes as new marketing material is generated.</p>
            <h3>PickTeamz</h3>
            <p><a href="https://pickteamz.com">https://pickteamz.com</a></p>
            <p>We brought the ideas and passion of the founder to life; a new-style fantasy football game. As well as playing the game via the website, we also built an iOS and Android app.</p>
            <h3>RFGraph</h3>
            <p><a href="https://rfgraph.com">https://rfgraph.com</a></p>
            <p>We built a single page app (SPA) and back-end API that enables complex hardware simulations. As well as a feature-rich front-end application we also built payment processing, and created the marketing and customer support sites.</p>
            <h3>SoftIron</h3>
            <p><a href="https://softiron.com">https://softiron.com</a></p>
            <p>We help them build various internal tools. Some for supporting their manufacturing; serial number generation, MAC address assignments, and lots more. Other projects included marketing tools (static asset management and hosting), and hardware cluster management (APIs for adding removing servers to a CEPH cluster).</p>
            <h3>SleepyMap</h3>
            <p><a href="https://sleepymap.com">https://sleepymap.com</a></p>
            <p>An internal project that we built to meet a gap in the market; a simple way to turn a spreadsheet into a map.</p>
        </section>
        <section>
            <h2>Doing Good in the World</h2>
            <p>We like to support companies and organistions that are doing good in the world. These next clients are all trying to achieve something that we really believe in.</p>
            <h3>Diversity and Ability</h3>
            <p><a href="https://diversityandability.com">https://diversityandability.com</a></p>
            <p>We run their internal IT systems (email, collaborative documents, business intelligence tools, etc. etc.). We also build their internal information security management system (ISMS).</p>
            <h3>MenuWizard</h3>
            <p><a href="https://menuwizard.com">https://menuwizard.com</a></p>
            <p>An app that helps people find restaurants and meals that are suitable for their dietry requirements. We build the API that powers the app, and we manage the servers and hosting.</p>
            <h3>PCSR</h3>
            <p><a href="https://pcsr.org.uk">https://pcsr.org.uk</a></p>
            <p>Psychotherapists and Counsellors for Social Responsibility. A not-for-profit membership organisation. We build their CMS and various tools for managing their membership (forums, financial tracking, event planning).</p>
            <h3>AXS Passport</h3>
            <p><a href="https://axs-passport.co">https://axs-passport.co</a></p>
            <p>AXS passport is a digital tool for sharing accessibility and inclusion requirements in order to create a more equitable society. We built the web app and API, and run the servers.</p>
            <h3>UDISAS</h3>
            <p><a href="https://udisas.com">https://udisas.com</a></p>
            <p>An online assessment tool that can help a person to identify the barriers they are facing and possible solutions. We build the website and manage the servers and hosting.</p>
        </section>
        <section>
            <h2>Open Source</h2>
            <p>We all benefit greatly from open source technologies, in recognition of this we contribute upstream fixes where we can, and are making some of our own technologies open as well.</p>
            <h3>vantage</h3>
            <p><a href="https://vantage-org.github.io/vantage">https://vantage-org.github.io/vantage</a></p>
            <p>A task runner that integrates nicely with Docker and that has great support for managing environment variables. We use it in almost all of our projects.</p>
        </section>
    </div>
{% endblock content %}
