@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: SpaceGrotesk;
        font-weight: bold;
        src: url("/fonts/SpaceGrotesk-Bold.otf") format("opentype");
    }

    @font-face {
        font-family: SpaceGrotesk;
        font-weight: regular;
        src: url("/fonts/SpaceGrotesk-Regular.otf") format("opentype");
    }
}

@layer components {
    a {
        @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-mt-red;
    }
    .prose a {
        @apply text-mt-blue;
    }
    .prose li::marker {
        color: #090535;
    }
    .prose code::before {
        content: "";
    }
    .prose code::after {
        content: "";
    }
    .admonition {
        @apply border-2 border-l-4 rounded p-2 border-mt-darkest-blue bg-gray-200;

        & p:first-child {
            @apply mt-0;
        }

        & p:last-child {
            @apply mb-0;
        }

        & .admonition-title {
            @apply font-bold;
        }
    }
    .admonition.info {
        @apply border-blue-500 bg-blue-50;
        & .admonition-title {
            @apply text-blue-500;
        }
    }
}
