@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: SpaceGrotesk;
        font-weight: bold;
        src: url("/fonts/SpaceGrotesk-Bold.otf") format("opentype");
    }

    @font-face {
        font-family: SpaceGrotesk;
        font-weight: regular;
        src: url("/fonts/SpaceGrotesk-Regular.otf") format("opentype");
    }
}

@layer components {
    .prose a {
        @apply text-mt-blue;
    }
    .prose li::marker {
        color: #090535;
    }
    .prose code::before {
        content: '';
    }
    .prose code::after {
        content: '';
    }
}
