{% extends "_base.html" %}
{% block content %}
    <section>
        <p>Mayor Tech Limited is a London (UK) based company that builds high quality, bespoke websites and web apps.</p>
        <p>Whatever project you have in mind, we can build it.</p>
        <p>Our <a href="/projects/">projects page</a> is a showcase of the kinds of things that we've been working on.</p>
        <p>You can read more about us and our founder on our <a href="/about/">about page</a>.</p>

        <h2>Interested?</h2>

        <p>Our standard rate is £150 per hour (£1,200 per day), we can also do project-based billing if that suits. We are flexible and will work with you to find an arrangement that fits.</p>
        <p>Please <a href="/contact/">get in touch</a>. We're excited to work with you 🙂</p>
    </section>
{% endblock content %}
