<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MayorTech Limited{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
</head>

<body class="bg-white text-slate-900 p-4">
    <header>
        <div class="">
            <a class="p-2 pb-1 inline-block font-bold text-2xl" href="/">MayorTech Limited</a>
        </div>
        <nav class="border-b-4 border-brand py-2">
            <ul>
                <li class="block md:inline-block mx-2 my-2 md:my-0"><a class="hover:text-brand underline underline-offset-4 decoration-2" href="/">Home</a></li>
                <li class="hidden md:inline-block">&middot;</li>
                <li class="block md:inline-block mx-2 my-2 md:my-0"><a class="hover:text-brand underline underline-offset-4 decoration-2" href="/about/">About</a></li>
                <li class="hidden md:inline-block">&middot;</li>
                <li class="block md:inline-block mx-2 my-2 md:my-0"><a class="hover:text-brand underline underline-offset-4 decoration-2" href="/projects/">Projects</a></li>
                <li class="hidden md:inline-block">&middot;</li>
                <li class="block md:inline-block mx-2 my-2 md:my-0"><a class="hover:text-brand underline underline-offset-4 decoration-2" href="/posts/">Blog</a></li>
                <li class="hidden md:inline-block">&middot;</li>
                <li class="block md:inline-block mx-2 my-2 md:my-0"><a class="hover:text-brand underline underline-offset-4 decoration-2" href="/contact/">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main class="my-4">{% block content %}{% endblock %}</main>
</body>

</html>
