<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}MayorTech Limited{% endblock title %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <link href="/styles.css" rel="stylesheet" />
    </head>

    <body class="bg-orange-50 text-slate-900 p-4">
        <div class="border-b-4 border-brand py-2">
            <header class="max-w-3xl mx-auto">
                <div class="mb-4">
                    <a class="inline-block font-bold text-4xl" href="/">
                        MayorTech Limited
                    </a>
                </div>
                <nav class="">
                    <ul>
                        <li class="block md:inline-block mr-2 my-2 md:my-0">
                            <a
                                class="hover:text-brand decoration-2 text-xl"
                                href="/"
                            >
                                Home
                            </a>
                        </li>
                        <li class="hidden md:inline-block">&middot;</li>
                        <li class="block md:inline-block mx-2 my-2 md:my-0">
                            <a
                                class="hover:text-brand decoration-2 text-xl"
                                href="/projects/"
                            >
                                Projects
                            </a>
                        </li>
                        <li class="hidden md:inline-block">&middot;</li>
                        <!-- <li class="block md:inline-block mx-2 my-2 md:my-0"><a class="hover:text-brand underline underline-offset-4 decoration-2" href="/posts/">Blog</a></li>
                        <li class="hidden md:inline-block">&middot;</li> -->
                        <li class="block md:inline-block ml-2 my-2 md:my-0">
                            <a
                                class="hover:text-brand decoration-2 text-xl"
                                href="/contact/"
                            >
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <main class="my-8">{% block content %}{% endblock %}</main>
    </body>
</html>
