<!doctype html>
<html lang="en" class="h-full">
    <head>
        <title>{% block title %}MayorTech Limited{% endblock title %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="{% block description %}{% endblock %}"
        />
        <link href="/styles.css" rel="stylesheet" />
        <script
            src="https://kit.fontawesome.com/0ebfed0803.js"
            crossorigin="anonymous"
            defer
            async
        ></script>
        <script
            defer
            src="https://api.pirsch.io/pa.js"
            id="pianjs"
            data-code="EzgOWgXDZppcr8suk1FApdXVGO5KY2Cg"
        ></script>
    </head>

    <body class="bg-mt-darkest-blue text-slate-50 flex flex-col gap-8 h-full">
        <div class="border-b-2 border-mt-dark-blue py-4 px-4">
            <header
                class="flex flex-col sm:flex-row items-center justify-between"
            >
                <div class="">
                    <a
                        class="flex flex-row items-center gap-2 font-bold text-2xl"
                        href="/"
                    >
                        <img
                            src="/img/logo.png"
                            alt="The MayorTech limited logo; a pixel art cartoon image of William Mayor."
                            height="56"
                            class="h-14"
                        />
                        MayorTech Limited
                    </a>
                </div>
                <nav class="">
                    <ul class="flex flex-row items-center gap-4">
                        <li class="">
                            <a
                                class="hover:text-mt-red {% if page == 'home' %}text-mt-red{% endif %}"
                                href="/"
                            >
                                Home
                            </a>
                        </li>
                        <li class="">
                            <a
                                class="hover:text-mt-red {% if page == 'work' %}text-mt-red{% endif %}"
                                href="/work/"
                            >
                                Work
                            </a>
                        </li>
                        <li class="">
                            <a
                                class="hover:text-mt-red {% if page == 'projects' %}text-mt-red{% endif %}"
                                href="/projects/"
                            >
                                Projects
                            </a>
                        </li>
                        <li class="">
                            <a
                                class="hover:text-mt-red {% if page == 'blog' %}text-mt-red{% endif %}"
                                href="/posts/"
                            >
                                Blog
                            </a>
                        </li>
                        <li class="">
                            <a
                                class="hover:text-mt-red {% if page == 'contact' %}text-mt-red{% endif %}"
                                href="/contact/"
                            >
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <main class="grow px-4 sm:px-8">{% block content %}{% endblock %}</main>
        <div class="border-t-2 border-mt-dark-blue py-4 px-4">
            <footer
                class="flex flex-col sm:flex-row items-center justify-between"
            >
                <div class="">
                    <a
                        class="flex flex-row items-center gap-2 font-bold text-2xl"
                        href="/"
                    >
                        <img
                            src="/img/logo.png"
                            alt="The MayorTech limited logo; a pixel art cartoon image of William Mayor."
                            height="56"
                            class="h-14"
                        />
                        MayorTech Limited
                    </a>
                </div>
                <nav class="">
                    <ul class="flex flex-row items-center gap-4">
                        <li class="">
                            <a class="hover:text-mt-red" href="/">Home</a>
                        </li>
                        <li class="">
                            <a class="hover:text-mt-red" href="/projects/">
                                Projects
                            </a>
                        </li>
                        <li class="">
                            <a class="hover:text-mt-red" href="/posts/">Blog</a>
                        </li>
                        <li class="">
                            <a class="hover:text-mt-red" href="/contact/">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </div>
    </body>
</html>
