{% extends "_base.html" %} {% block description %} Hi I'm Billy. I'm a software
engineer. I'm a freelancer. I build high quality, bespoke websites and web apps.
{% endblock %} {% block content %}
<h1 class="sr-only">MayorTech Limited</h1>
<div class="flex flex-col gap-8">
    <div
        class="bg-mt-gray rounded-xl p-4 sm:p-8 flex flex-row justify-between items-center"
    >
        <div class="text-4xl sm:text-5xl text-mt-darkest-blue">
            <p>👋 Hi I’m Billy.</p>
            <p>I’m a software engineer.</p>
        </div>
        <div class="hidden sm:block">
            <img
                src="/img/logo.png"
                alt="The MayorTech limited logo; a pixel art cartoon image of William Mayor."
                class="h-36"
            />
        </div>
    </div>
    <div class="flex flex-col sm:flex-row gap-8">
        <div
            class="bg-mt-dark-blue rounded-xl p-4 sm:p-8 flex flex-row justify-between items-center"
        >
            <div class="text-3xl text-white">
                <p>
                    I'm a freelancer. I build high quality, bespoke websites and
                    web apps.
                </p>
                <p class="mt-8">
                    Whatever project you have in mind, I can build it.
                </p>
            </div>
        </div>
        <div class="flex flex-col gap-8">
            <div class="bg-mt-red rounded-xl p-4 sm:p-8">
                <div
                    class="text-xl text-mt-darkest-blue flex flex-row gap-8 items-center"
                >
                    <div class="">
                        <img
                            class="w-16 min-w-16"
                            width="64"
                            src="/img/Hammer_Blue.png"
                            alt=""
                        />
                    </div>
                    <p>
                        I build high quality software, I don't cut corners, and
                        I don't rush. I work closely with clients, often over
                        many years, making sure that what I build is exactly
                        what they need.
                    </p>
                </div>
            </div>
            <div class="bg-mt-blue rounded-xl p-4 sm:p-8">
                <div
                    class="text-xl text-mt-gray flex flex-row gap-8 items-center"
                >
                    <div class="">
                        <img
                            class="w-16 min-w-16"
                            width="64"
                            src="/img/Heart_Yellow.png"
                            alt=""
                        />
                    </div>
                    <p>
                        I want to leave the world in a better state than I found
                        it. I want to work with people/companies that are doing
                        good things. I will not work with people/companies doing
                        bad things.
                    </p>
                </div>
            </div>
            <div class="bg-mt-yellow rounded-xl p-4 sm:p-8">
                <div
                    class="text-xl text-mt-darkest-blue flex flex-row gap-8 items-center"
                >
                    <div class="">
                        <img
                            class="w-16 min-w-16"
                            width="64"
                            src="/img/House_Red.png"
                            alt=""
                        />
                    </div>
                    <p>
                        The internet is for everyone; websites and apps need to
                        be built in accessible ways. A truly accessible website
                        is a pleasure for all to use.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-mt-gray rounded-xl p-4 sm:p-8 text-mt-darkest-blue">
        <h2 class="text-3xl">About me</h2>
        <p class="text-xl mt-8">
            I started as a freelance software engineer in 2012. I specialise in
            "back end" software; building APIs, setting up servers, dealing with
            databases, security, backups, and all the things that keep a project
            running smoothly. I'm primarily a Python developer but I'm very
            comfortable diving into the HTML, JavaScript, and CSS sides of
            things too.
        </p>
        <p class="text-xl mt-8">
            Over the years I've built lots of websites/apps (see
            <a class="text-mt-blue hover:underline" href="/projects"
                >the projects list</a
            >
            for some examples), and worked on the things that accompany software
            engineering too. Things like:
        </p>
        <ul
            class="text-xl font-bold mt-8 flex flex-row flex-wrap gap-x-8 gap-y-4"
        >
            <li class="whitespace-nowrap">DevOps</li>
            <li class="whitespace-nowrap">Emails</li>
            <li class="whitespace-nowrap">GDPR</li>
            <li class="whitespace-nowrap">Cyber Essentials</li>
            <li class="whitespace-nowrap">WCAG accessibility audits</li>
            <li class="whitespace-nowrap">Agile</li>
            <li class="whitespace-nowrap">Working in teams</li>
            <li class="whitespace-nowrap">Leading teams</li>
            <li class="whitespace-nowrap">Designing and architecting</li>
            <li class="whitespace-nowrap">Internationalisation</li>
            <li class="whitespace-nowrap">Online payments and tax</li>
        </ul>
    </div>
    <div class="bg-mt-dark-blue rounded-xl p-4 sm:p-8">
        <h2 class="text-3xl">Interested?</h2>
        <p class="text-2xl mt-8">
            Have a cool project you want to build? Need an experienced senior
            dev to help with some tricky edges cases? Want to explore some ideas
            together?
        </p>
        <p class="text-2xl mt-8">
            Please
            <a href="/contact/" class="text-mt-red hover:underline"
                >get in touch</a
            >. I'm excited to work with you.
        </p>
    </div>
</div>

{% endblock content %}
