{% extends "_base.html" %}
{% set page = 'projects' %}
{% block description %}{{ description }}{% endblock %}
{% block content %}
    <div class="max-w-3xl mx-auto bg-mt-gray rounded-xl p-4 sm:p-8">
        <div class="flex flex-row justify-between items-center">
            <div class="text-mt-darkest-blue prose prose-xl"><h1>{{ title }}</h1></div>
            {% if logo %}
                <div class="">
                    <img
                        src="{{ logo }}"
                        alt=""
                        height="48"
                        class="max-h-12 max-w-32"
                    />
                </div>
            {% endif %}
        </div>
        <div class="text-xl mt-8">
            <a class="hover:underline text-mt-blue" href="{{ link }}">{{ link }}</a>
        </div>
        {% if screenshot %}
            <div class="mt-8 border-2 border-mt-darkest-blue rounded-xl">
                <img
                    src="{{ screenshot }}"
                    alt=""
                    height=""
                    class="w-full rounded-xl"
                />
            </div>
        {% endif %}
        <div class="text-mt-darkest-blue prose prose-xl mt-8">{{ description }}</div>
    </div>
{% endblock %}
