{% extends "_base.html" %}
{% block title %}MayorTech Limited - Projects{% endblock %}
{% block description %}A list of names and descriptions of the the projects and clients that MayorTech have worked with over the years.{% endblock %}
{% macro project(title, link, screenshot, desc) %}
    <div
        class="bg-mt-red text-mt-darkest-blue rounded-xl p-4 sm:p-8 flex flex-col sm:flex-row gap-8 justify-between items-center"
    >
        <div class="">
            <h2 class="text-2xl">{{ title }}</h2>
            <p class="">
                <a class="hover:underline" href="{{ link }}">{{ link }}</a>
            </p>
            <p class="mt-8 text-xl max-w-4xl">{{ desc }}</p>
        </div>
        <div class="order-first sm:order-last">
            {% if screenshot %}
                <div class="p-4 bg-white">
                    <img
                        src="{{ screenshot }}"
                        alt=""
                        height="144"
                        class="max-h-36 max-w-[200px]"
                    />
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
{% block content %}
    <div class="flex flex-col gap-8">
        <div class="bg-mt-gray rounded-xl p-4 sm:p-8">
            <div class="text-mt-darkest-blue">
                <h1 class="text-4xl">Projects</h1>
                <p class="text-2xl mt-8">
                    Here's a list of projects and clients that I've have worked on.
                </p>
            </div>
        </div>
        {{ project(
            "Asahi",
            "https://asahisuperdry.com",
            "/img/projects/asahi_super_dry.png",
            "I helped build the Asahi Super Dry website using Python and Wagtail. This is a marketing/blog site ran by many teams across the world. I built a flexible translation system (internationalisation, i18n) for them, as well as custom CRM widgets to help them easily create competitions. These competitions have seen tens of thousands of entries.")
        }}
        {{ project(
            "AXS Passport",
            "https://axs-passport.co",
            "/img/projects/axs_passport.png",
            "AXS Passport is a digital tool for sharing accessibility and inclusion requirements in order to create a more equitable society. I helped build the web app (JS, SvelteKit) and API (Python, FastAPI), and run the servers. I ran the team building this product including designers, front-end devs, back-end devs, mobile devs, and others.")
        }}
        {{ project(
            "billabl",
            "https://billabl.co",
            "/img/projects/billabl.png",
            "billable is a side-project I built to help me track and report on the time I spend working as a freelancer. It connects to your Google calendar instead of needing you to remember to clock in and out.")
        }}

        {{ project(
            "Diversity and Ability",
            "https://diversityandability.com",
            "/img/projects/dna.png",
            "From the early days of this social enterprise I set up and ran the engineering team. For many years I was the only SWE. I built, and now run, the software team, the data protection team, and our website accessibility audit team.")
        }}
        {{ project(
            "MenuWizard",
            "https://menuwizard.com",
            "",
            "An app that helps people find restaurants and meals that are suitable for their dietry/allergen requirements. I built the API (Python, FastAPI) that powers the app, and I manage the servers and hosting.")
        }}
        {{ project(
            "PickTeamz",
            "https://pickteamz.com",
            "/img/projects/pickteamz.png",
            "I brought the ideas and passion of the founder to life; a new-style fantasy football game. As well as playing the game via the website (Python, Django), I also built an iOS and Android app (Dart, Flutter).")
        }}
        {{ project(
            "RFGraph",
            "https://rfgraph.com",
            "/img/projects/rfgraph.png",
            "I built a single page app (JS, Svelte) and back-end API (Python, FastAPI) that enables complex hardware simulations. As well as a feature-rich front-end application I also built payment processing, and created the marketing and customer support sites.")
        }}
        {{ project(
            "SleepyMap",
            "https://sleepymap.com",
            "/img/projects/sleepymap.png",
            "An side-project that I built to meet a gap in the market; a simple way to turn a spreadsheet into a map.")
        }}
        {{ project(
            "SoftIron",
            "https://softiron.com",
            "/img/projects/softiron.jpg",
            "I helped them build various internal tools. Some for supporting their manufacturing; serial number generation, MAC address assignments, and lots more. Other projects included marketing tools (static asset management and hosting), and hardware cluster management (APIs for adding removing servers to a CEPH cluster).")
        }}
        {{ project(
            "UDISAS",
            "https://udisas.com",
            "/img/projects/udisas.png",
            "An online assessment tool that can help a person to identify the barriers they are facing and possible solutions. I build the website (Python, Flask) and manage the servers and hosting.")
        }}
        {{ project(
            "vantage",
            "https://vantage-org.github.io/vantage",
            "",
            "A task runner that integrates nicely with Docker and that has great support for managing environment variables. I use it in almost all of my projects.")
        }}
    </div>
{% endblock content %}
